{{> menu}}

<form class="box" action="/server/{{server._id}}/updateservice/{{service._id}}" method="POST">
    <label>Update Server Details:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" name="title" , placeholder="title" value="{{service.title}}">
            </div>
            <div class="field">
                <input class="input" type="text" name="description" placeholder="description" value="{{service.os}}">
            </div>
            <div class="field">
                <input class="input" type="text" name="latitude" placeholder="latitude" value="{{service.desc}}">
            </div>
        </div>
    </div>
    <button class="button is-primary is-fullwidth">Update Service</button>
</form>