{{> menu}}

<form class="box" action="/server/{{server._id}}/updateserver" method="POST">
    <label>Update Server Details:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                <input class="input" type="text" pattern="[A-Za-z\\s]+{1,20}" name="title" placeholder="Server name" value="{{server.title}}">
            </div>
            <div class="field">
                <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Service</label>
                <input class="input" type="text" name="service" placeholder="Service" value="{{server.service}}">
            </div>
            <div class="field">
                <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cab</label>
                <input class="input" type="text" name="cab" placeholder="Server Cab" value="{{server.cab}}">
            </div>
            <div class="field">
                <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Operating System</label>
                <input class="input" type="text" name="os" placeholder="Operating System" value="{{server.os}}">
            </div>
            <div class="field">
                <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Idrac IP</label>
                <input class="input" type="text" name="idrac" placeholder="Server Idrac" value="{{server.idrac}}">
            </div>
<!--            <div class="field">-->
<!--                <input class="input" type="text" name="nwcard" placeholder="Number of network cards" value="{{server.nwcard}}">-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <input class="input" type="text" name="backupTo" placeholder="Backup" value="{{server.backupTo}}">-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <input class="input" type="text" name="monitoredWith" placeholder="Monitored" value="{{server.monitoredWith}}">-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <input class="input" type="text" name="support" placeholder="Support" value="{{server.support}}">-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <input class="input" type="text" name="bios" placeholder="Bios version" value="{{server.bios}}">-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <input class="input" type="text" name="firmware" placeholder="Firmware version" value="{{server.firmware}}">-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <input class="input" type="text" name="maas" placeholder="In maas?" value="{{server.maas}}">-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <input class="input" type="text" name="cost" placeholder="Initial cost" value="{{server.cost}}">-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <input class="input" type="text" name="pdate" placeholder="Date purchased" value="{{server.pdate}}">-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <input class="input" type="text" name="model" placeholder="Model" value="{{server.model}}">-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <input class="input" type="text" name="desc" placeholder="Description" value="{{server.desc}}">-->
<!--            </div>-->
        </div>
    </div>
    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
        Update Server
    </button>
</form>