{{> menu}}

<form class="box" action="/server/{{service.serverid}}/updateservice/{{service._id}}" method="POST">
    <label>Update Server Details:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" pattern="[A-Za-z\\s]+{1,20}" name="serviceName" , placeholder="Name" value="{{service.serviceName}}">
            </div>
            <div class="field">
                <input class="input" type="text" name="os" placeholder="Operating System" value="{{service.os}}">
            </div>
            <div class="field">
                <input class="input" type="text" name="desc" placeholder="Description" value="{{service.desc}}">
            </div>
            <div class="field">
                <input class="input" type="text" name="monitored" placeholder="Monitoring" value="{{service.monitored}}">
            </div>
            <div class="field">
                <input class="input" type="text" name="backups" placeholder="Backup" value="{{service.backups}}">
            </div>
            <div class="field">
                <input class="input" type="text" name="syslog" placeholder="Syslog server" value="{{service.syslog}}">
            </div>
            <div class="field">
                <input class="input" type="text" name="login" placeholder="Login details" value="{{service.login}}">
            </div>
        </div>
    </div>
    <button class="button is-primary is-fullwidth">Update Service</button>
</form>