<table id="q-graph">
  <caption>Yearly Results of server provision/decommission</caption>
  <thead>
  <tr>
    <th></th>
    <th class="sent">Provision</th>
    <th class="paid">Decommission</th>
  </tr>
  </thead>
  <tbody>
  <tr class="qtr" id="q1">
    <th scope="row">{{dateMinusThree}}</th>
    <td class="sent bar" style="height: {{valueXYearMinusThree}}px;"><p>{{serversAddedYearMinusThree}}</p></td>
    <td class="paid bar" style="height: 20px;"><p>2</p></td>
  </tr>
  <tr class="qtr" id="q2">
    <th scope="row">{{dateMinusTwo}}</th>
    <td class="sent bar" style="height: {{valueXYearMinusTwo}}px;"><p>{{serversAddedYearMinusTwo}}</p></td>
    <td class="paid bar" style="height: 30px;"><p>3</p></td>
  </tr>
  <tr class="qtr" id="q3">
    <th scope="row">{{dateMinusOne}}</th>
    <td class="sent bar" style="height: {{valueXLastYear}}px;"><p>{{serversAddedLastYear}}</p></td>
    <td class="paid bar" style="height: 40px;"><p>4</p></td>
  </tr>
  <tr class="qtr" id="q4">
    <th scope="row">{{date}}</th>
    <td class="sent bar" style="height: {{valueXThisYear}}px;"><p>{{serversAddedThisYear}}</p></td>
    <td class="paid bar" style="height: 20px;"><p>2</p></td>
  </tr>
  </tbody>
</table>

<div id="ticks">
  <div class="tick" style="height: 59px;"><p></p></div>
  <div class="tick" style="height: 59px;"><p></p></div>
  <div class="tick" style="height: 59px;"><p></p></div>
  <div class="tick" style="height: 59px;"><p></p></div>
  <div class="tick" style="height: 59px;"><p></p></div>
</div>
