<table class="table is-fullwidth">
  <thead>
    <tr>
        <th>Name</th>
        <th>OS</th>
        <th>Description</th>
        <th>Monitored</th>
        <th>Backups</th>
        <th>Syslog</th>
        <th>Login</th>
        <th>Last Modified</th>
    </tr>
  </thead>
  <tbody>
    {{#each server.services}}
      <tr>
          <td>
              {{title}}
          </td>
          <td>
              {{os}}
          </td>
          <td>
              {{desc}}
          </td>
          <td>
              {{monitored}}
          </td>
          <td>
              {{backups}}
          </td>
          <td>
              {{syslog}}
          </td>
          <td>
              {{login}}
          </td>
      </tr>
    {{/each}}
  </tbody>
</table>

