<!--Card View for each server-->

<!--Test toogle button-->
<!--<form action="/dashboard/easyfilterserver" method="GET">-->
<!--<label class="relative inline-flex items-center cursor-pointer">-->
<!--    <input type="checkbox" value="ez" name="ez" class="sr-only peer" onchange="this.form.submit()">-->
<!--    <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>-->
<!--    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Quick Sort</span>-->
<!--</label>-->
<!--</form>-->

{{#if servers.length}}
    {{#each servers}}
        <div class="w-full p-2 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-slate-700 dark:text-sky-50">
            <!--        Top Part of the card-->
            <h2 class="title" id="search">
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"> {{title}} </h2>
                <div class="{{pieStatus}}"></div>
                <p class="mb-3 font-normal text-gray-700 dark:bg-slate-700 dark:text-sky-50">Cab {{cab}}, Purchased {{pdate}}</p>
            </h2>
            <!--        Bottom part of the card-->

            <div class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-gray-950 bg-sky-50 rounded-lg hover:bg-blue-600 focus:outline-none flex flex-row space-x-2.5 dark:bg-slate-700">
                <a href="/server/{{_id}}" class="button">
                    <i class="fa-solid fa-server fa-xl"></i>
                </a>
                <a href="/server/{{_id}}/editserver" class="button">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="/dashboard/confirmdelete/{{_id}}" class="button">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
<!--                after the buttons-->

                <p class="medium">Bios {{bios}}</p>
                <p>Firmware {{firmware}}</p>
                {{#server}}
                  {{log support}}
                {{/server}}
                {{#if supportStatus}}
                <p class="text-green-600">{{supportStatus}}</p>
                {{! if cannot find any support date will jump to the else statement }}
                {{else}}
                    <h3 class="text-pink-600">No support data found!</h3>
                {{/if}}
            </div>
        </div>

    {{/each}}
{{/if}}
{{#if resolution.length}}
    {{#each resolution}}
        <div class="w-full p-2 bg-white border border-gray-200 rounded-lg shadow-md">
            <!--        Top Part of the card-->
            <h2 class="title" id="search">
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"> {{title}} </h2>
                <div class="{{pieStatus}}"></div>
                <p class="mb-3 font-normal text-gray-700">Cab {{cab}}, Purchased {{pdate}}</p>
            </h2>
            <!--        Bottom part of the card-->

            <div class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-gray-950 bg-sky-50 rounded-lg hover:bg-blue-600 focus:outline-none flex flex-row space-x-2.5">
                <a href="/server/{{_id}}" class="button">
                    <i class="fa-solid fa-server fa-xl"></i>
                </a>
                <a href="/server/{{_id}}/editserver" class="button">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="/dashboard/confirmdelete/{{_id}}" class="button">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
                <!--                after the buttons-->

                <p>Bios {{bios}}</p>
                <p>Firmware {{firmware}}</p>
                {{#if supportStatus }}
                    <h2 class="text-rose-400>Support"> Active until {{supportStatus}}</h2>
                {{! if cannot find any support date will jump to the else statement }}
                {{else}}
                    <h3>No support found or expired.</h3>
                {{/if}}
            </div>
        </div>
    {{/each}}
{{/if}}
