<!--Archives-->

{{#each dispservers}}
  <div class="w-full p-2 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-slate-700 dark:text-sky-50">
        <!--        Top Part of the card-->
      <div class="w-full p-2 bg-white border border-gray-200 rounded-lg shadow-md">
        <!--        Top Part of the card-->
        <h2 class="title" id="search">
          <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"> {{title}} </h2>
          <p class="mb-3 font-normal text-gray-700">Cab {{cab}}, Purchased {{pdate}}</p>
        </h2>
        <!--        Bottom part of the card-->
        <div class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-gray-950 bg-sky-50 rounded-lg hover:bg-blue-600 focus:outline-none flex flex-row space-x-2.5 dark:bg-slate-700">
        <a href="/archive/{{_id}}/editserver" class="button">
                <i class="fas fa-edit fa-lg"></i>
            </a>
            <a href="/archive/confirmdelete/{{_id}}" class="button">
                <i class="fa-solid fa-trash-can fa-lg"></i>
            </a>
            <a href="/archive/recommissionserver/{{_id}}" class="button">
                <i class="fa-solid fa-reply fa-lg"></i>
            </a>
          <p>Bios {{bios}}</p>
          <p>Firmware {{firmware}}</p>
        </div>
        </div>
    </div>

{{/each}}
