<!--Card View for each server-->

<label class="relative inline-flex items-center cursor-pointer">
    <input type="checkbox" value="az" name="az" class="sr-only peer">
    <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Toggle me</span>
</label>
<!--Test btn-->
<a href="#" class="button">
  <i class="fa-solid fa-check"></i> {{servers.test1}}
</a>

<!-- server-filter -->
<form action="/dashboard/filterserver" method="GET">
    <select name="orderBy" onchange="this.form.submit()">
        <option value="">None</option>
        <option value="normal">Original View</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
        <option value="cabnum">Order by Cab Numbers</option>
    </select>
</form>
{{#if servers.length}}
    {{#each servers}}
        <div class="box box-link-hover-shadow">
            <!--        Top Part of the card-->
            <h2 class="title" id="search">
                <i class="fa-solid fa-staff-snake"></i>{{title}}, Cab {{cab}}, Purchased {{pdate}} <div class="{{pieStatus}}"></div>
            </h2>
            <!--        Bottom part of the card-->
            <div class="sticky">
                <a href="/server/{{_id}}" class="button">
                    <i class="fa-solid fa-server fa-xl"></i>
                </a>
                <a href="/server/{{_id}}/editserver" class="button">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="/dashboard/confirmdelete/{{_id}}" class="button">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
<!--                <a href="/dashboard/decommissionserver/{{_id}}" class="button">-->
<!--                    <i class="fa-solid fa-down-long"></i>-->
<!--                </a>-->
                Bios {{bios}} Firmware {{firmware}}
            </div>
        </div>

    {{/each}}
{{/if}}
{{#if resolution.length}}
    {{#each resolution}}
        <div class="box box-link-hover-shadow">
            <!--        Top Part of the card-->
            <h2 class="title" id="search">
                <i class="fa-solid fa-staff-snake"></i>{{title}}, Cab {{cab}}, Purchased {{pdate}}
            </h2>
            <!--        Bottom part of the card-->
            <div class="sticky">
                <a href="/server/{{_id}}" class="button">
                    <i class="fa-solid fa-server fa-xl"></i>
                </a>
                <a href="/server/{{_id}}/editserver" class="button">
                    <i class="fas fa-edit fa-lg color blue"></i>
                </a>
                <a href="/dashboard/confirmdelete/{{_id}}" class="button">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
                Bios {{bios}} Firmware {{firmware}}
            </div>
        </div>
    {{/each}}
{{/if}}
