{{#each servers}}
    <div class="box box-link-hover-shadow">
        <h2 class="title">
            {{title}} | Cab {{cab}} Service {{service}} | {{os}} | graphical status show how long server is going
        </h2>
        <a href="/server/{{_id}}" calss="button">
            <i class="fa-solid fa-server fa-2xl"></i>
        </a>
        Bios {{bios}} Firmware {{firmware}}
    </div>
{{/each}}