<!--length added so when search results shows old table heading not displays twice-->

{{#if server.services.length}}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
        <th scope="col" class="px-5 py-3 dark:text-gray-200">Name</th>
        <th scope="col" class="px-5 py-3 dark:text-gray-200">Tag</th>
        <th scope="col" class="px-5 py-3 dark:text-gray-200">OS</th>
        <th scope="col" class="px-5 py-3 dark:text-gray-200">Monitored</th>
        <th scope="col" class="px-5 py-3 dark:text-gray-200">Backups</th>
        <th scope="col" class="px-5 py-3 dark:text-gray-200">Syslog</th>
        <th scope="col" class="px-5 py-3 dark:text-gray-200">Login</th>
        <th scope="col" class="px-5 py-3 dark:text-gray-200">Description</th>
        <th scope="col" class="px-5 py-3 dark:text-gray-200">Functions</th>
    </tr>
  </thead>
  <tbody>
    {{#each server.services}}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-5 py-3">
              {{serviceName}}
          </td>
            <td class="px-5 py-3">
              {{servicetag}}
          </td>
            <td class="px-5 py-3">
              {{os}}
          </td>
            <td class="px-5 py-3">
              {{monitored}}
          </td>
            <td class="px-5 py-3">
              {{backups}}
          </td>
            <td class="px-5 py-3">
              {{syslog}}
          </td>
            <td class="px-5 py-3">
              {{login}}
          </td>
            <td class="px-5 py-3">
              {{desc}}
          </td>
            <td class="px-2 py-3">
              <a href="/service/{{../server._id}}/editservice/{{_id}}" class="ui icon button dark:bg-gray-800 dark:border-gray-800">
                  <span class="hover:animate-pulse" style="font-size: 17px; color: Dodgerblue;"><i class="fas fa-edit"></i></span>
              </a>
              <a href="/server/{{../server._id}}/deleteservice/{{_id}}" class="ui icon button dark:bg-gray-800 dark:border-gray-800"> <!--card-footer-item-->
                  <span class="hover:animate-pulse" style="font-size: 17px; color: Red;"><i class="fa-regular fa-trash-can"></i></span>
              </a>
          </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<!--else show no table heading -->
{{else}}

{{/if}}

</div>