<!-- searchResults  -->

{{#if results.length}}
    {{#each results}}
        <div class="w-full p-2 bg-white border border-gray-200 rounded-lg shadow-md">
            <!--        Top Part of the card-->
            <h2 class="title" id="search">
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"> {{title}} </h2>
                <div class="{{pieStatus}}"></div>
                <p class="mb-3 font-normal text-gray-700">Cab {{cab}}, Purchased {{pdate}}</p>
            </h2>
            <!--        Bottom part of the card-->

            <div class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-gray-950 bg-sky-50 rounded-lg hover:bg-blue-600 focus:outline-none flex flex-row space-x-2.5">
                <a href="/server/{{_id}}" class="button">
                    <i class="fa-solid fa-server fa-xl"></i>
                </a>
                <a href="/server/{{_id}}/editserver" class="button">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="/dashboard/confirmdelete/{{_id}}" class="button">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
                <!--                after the buttons-->

                <p>Bios {{bios}}</p>
                <p>Firmware {{firmware}}</p>
                {{#if support }}
                    <h2 class="text-rose-400>Support"> Active until {{support}}</h2>
                {{! if cannot find any support date will jump to the else statement }}
                {{else}}
                    <h3>No support found or expired.</h3>
                {{/if}}
            </div>
        </div>

    {{/each}}
{{/if}}
{{#if resolution.length}}
    {{#each resolution}}
        <div class="w-full p-2 bg-white border border-gray-200 rounded-lg shadow-md">
            <!--        Top Part of the card-->
            <h2 class="title" id="search">
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"> {{title}} </h2>
                <div class="{{pieStatus}}"></div>
                <p class="mb-3 font-normal text-gray-700">Cab {{cab}}, Purchased {{pdate}}</p>
            </h2>
            <!--        Bottom part of the card-->

            <div class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-gray-950 bg-sky-50 rounded-lg hover:bg-blue-600 focus:outline-none flex flex-row space-x-2.5">
                <a href="/server/{{_id}}" class="button">
                    <i class="fa-solid fa-server fa-xl"></i>
                </a>
                <a href="/server/{{_id}}/editserver" class="button">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="/dashboard/confirmdelete/{{_id}}" class="button">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
                <!--                after the buttons-->

                <p>Bios {{bios}}</p>
                <p>Firmware {{firmware}}</p>
                {{#if support }}
                    <h2 class="text-rose-400>Support"> Active until {{support}}</h2>
                {{! if cannot find any support date will jump to the else statement }}
                {{else}}
                    <h3>No support found or expired.</h3>
                {{/if}}
            </div>
        </div>
    {{/each}}
{{/if}}
